.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  cursor: pointer;
  @include hover-focus() {
    color: #000;
    text-decoration: none;
    opacity: .75;
    outline: none;
  }
}

button.close {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.absolute-right.close {
  right: 5px;
  top: 5px;
  width: 20px;
  position: absolute;
  z-index: 55;
}