//
// Globals
//
$use-flex: false;

$pads: 15px;
$small-pads: 10px;

//
// Colors
//
$red:    #db7560; // default: #d9534f;
$orange: #d9c26c; // default: #f0ad4e;
$yellow: #ffd500;
$green:  #24aa98; // default: #5cb85c;
$blue:   #0275d8;
$teal:   #65abd0; // default: #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;

$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             $teal !default;
$brand-secondary:           $green !default;

//
// Body
//
$body-bg: #fff;
$body-color:    $gray-dark !default;

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base:          16px !default;
$line-height-base:        1.3 !default;

//
// Links
//
$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

//
// Headings
//
$font-size-h1:            36px !default;
$font-size-h2:            30px !default;
$font-size-h3:            24px !default;
$font-size-h4:            18px !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            14px !default;

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$list-inline-padding: 5px !default;

//
// Buttons
//
$btn-padding-x:                  1rem !default;
$btn-padding-y:                  .5rem !default;
$btn-line-height:                1.25 !default;
$btn-font-weight:                400;
$btn-box-shadow:                 inset 0 1px 0 rgba(#fff,.15), 0 1px 1px rgba(#000,.075) !default;
$btn-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow:          inset 0 3px 5px rgba(#000,.125) !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-link-disabled-color:        $gray-light !default;

$btn-padding-x-sm:               .5rem !default;
$btn-padding-y-sm:               .25rem !default;

$btn-padding-x-lg:               1.5rem !default;
$btn-padding-y-lg:               .75rem !default;

$btn-block-spacing-y:            .5rem !default;
$btn-toolbar-margin:             .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              4px !default;
$btn-border-radius-lg:           6px !default;
$btn-border-radius-sm:           3px !default;

$btn-transition:                 all .2s ease-in-out !default;