[submodule "inc/wp-admin-page-render"]
	path = inc/wp-admin-page-render
	url = https://github.com/nikolays93/WPAdminPageRender.git
[submodule "unc/wp-form-render"]
	path = unc/wp-form-render
	url = https://github.com/nikolays93/WPFormRender.git
