@mixin button-variant($color, $background, $border) {
    $active-background: darken($background, 10%);
    $active-border: darken($border, 12%);

    color: $color;
    background-color: $background;
    border-color: $border;
    // @include box-shadow($btn-box-shadow);

    // Hover and focus styles are shared
    &:hover {
        color: $color;
        background-color: $active-background;
        border-color: $active-border;
    }
    &:focus,
    &.focus {
        box-shadow: $btn-box-shadow, 0 0 0 2px rgba($border, .5);
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        background-color: $background;
        border-color: $border;
    }

    &:active,
    &.active,
    .show > &.dropdown-toggle {
        color: $color;
        background-color: $active-background;
        background-image: none; // Remove the gradient for the pressed/active state
        border-color: $active-border;
        // @include box-shadow($btn-active-box-shadow);
    }
}

@mixin button-outline-variant($color, $color-hover: #fff) {
    color: $color;
    background-image: none;
    background-color: transparent;
    border-color: $color;

    &:hover {
        color: $color-hover;
        background-color: $color;
        border-color: $color;
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 2px rgba($color, .5);
    }

    &.disabled,
    &:disabled {
        color: $color;
        background-color: transparent;
    }

    &:active,
    &.active,
    .show > &.dropdown-toggle {
        color: $color-hover;
        background-color: $color;
        border-color: $color;
    }
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: ($border-radius);
}

.btn {
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: $border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
    transition: $btn-transition;

    // Share hover and focus styles
    @include hover-focus {
        text-decoration: none;
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        opacity: .65;
        // @include box-shadow(none);
    }

    &:active,
    &.active {
        background-image: none;
        // @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}


.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-outline-primary {
    @include button-outline-variant($btn-primary-bg);
}

//
// Link buttons
//
// .btn-link {
//   font-weight: $font-weight-normal;
//   color: $link-color;
//   border-radius: 0;

//   &,
//   &:active,
//   &.active,
//   &:disabled {
//     background-color: transparent;
//     @include box-shadow(none);
//   }
//   &,
//   &:focus,
//   &:active {
//     border-color: transparent;
//   }
//   @include hover {
//     border-color: transparent;
//   }
//   @include hover-focus {
//     color: $link-hover-color;
//     text-decoration: $link-hover-decoration;
//     background-color: transparent;
//   }
//   &:disabled {
//     color: $btn-link-disabled-color;

//     @include hover-focus {
//       text-decoration: none;
//     }
//   }
// }

//
// Button Sizes
//
.btn-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}
.btn-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
}

.btn-block {
    display: block;
    width: 100%;
    + .btn-block {
        margin-top: 20px;
    }
}
