.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: $font-size-base;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
         -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;

    @include placeholder() {
        color: #636c72;
        opacity: 1;
    }

    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    &:focus {
      color: #464a4c;
      background-color: #fff;
      border-color: #5cb3fd;
      outline: none;
    }

    &:disabled, &[readonly] {
        background-color: #eceeef;
        opacity: 1;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

select.form-control {
    &:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px);
    }
    &::focus::-ms-value {
        color: #464a4c;
        background-color: #fff;
    }
}
