// Navs

$nav-item-margin:               .2rem !default;
$nav-item-inline-spacer:        1rem !default;
$nav-link-padding:              .5em 1em !default;
$nav-link-hover-bg:             $gray-lighter !default;
$nav-disabled-link-color:       $gray-light !default;

$nav-tabs-border-color:                       #ddd !default;
$nav-tabs-border-width:                       1px !default;
$nav-tabs-border-radius:                      4px !default;
$nav-tabs-link-hover-border-color:            $gray-lighter !default;
$nav-tabs-active-link-hover-color:            $gray !default;
$nav-tabs-active-link-hover-bg:               $body-bg !default;
$nav-tabs-active-link-hover-border-color:     #ddd !default;
$nav-tabs-justified-link-border-color:        #ddd !default;
$nav-tabs-justified-active-link-border-color: $body-bg !default;

$nav-pills-border-radius:     4px !default;
$nav-pills-active-link-color: $brand-primary !default;
$nav-pills-active-link-bg:    #fff !default;

//
// @todo: add non flex
//
.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: $nav-link-padding;

    @include hover-focus {
        text-decoration: none;
    }

    // Disabled state lightens text and removes hover/tab effects
    &.disabled {
        color: $nav-disabled-link-color;
        cursor: $cursor-disabled;
    }
}

//
// Tabs
//
.nav-tabs {
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

    .nav-item {
        margin-bottom: -$nav-tabs-border-width;
    }

    .nav-link {
        border: $nav-tabs-border-width solid transparent;
        border-top-left-radius: $nav-tabs-border-radius;
        border-top-right-radius: $nav-tabs-border-radius;

        @include hover-focus {
            border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
        }

        &.disabled {
            color: $nav-disabled-link-color;
            background-color: transparent;
            border-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-bg;
    }

    .dropdown-menu {
        // Make dropdown border overlap tab border
        margin-top: -$nav-tabs-border-width;
        // Remove the top rounded corners here since there is a hard edge above the menu
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}


//
// Pills
//
.nav-pills {
    .nav-link {
        border-radius: $nav-pills-border-radius;
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $nav-pills-active-link-color;
        cursor: default;
        background-color: $nav-pills-active-link-bg;
    }
}

//
// Justified variants
//
.nav-fill {
    .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }
}

.nav-justified {
    .nav-item {
        flex: 1 1 100%;
        text-align: center;
    }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`
.tab-content {
    > .tab-pane {
        display: none;
    }
    > .active {
        display: block;
    }
}